.my_header,.my_footer{
    width:100%;
}
.my_header{
    height:137px;
}
.my_footer{
    height:420px;
}
header{
    height:1000px;
    background:url("../img/timg.jpg") no-repeat center center;
    background-size:cover;
}
body{
    margin:0;padding:0;
}
.fk-elemZoneBg{
    
    margin:0 auto;
    width:80%;
    color:#fff;
    font-weight:bold;
}
.fk-elemZoneBg>div:first-child{
    margin-top:30px;
    font-size:60px;
    font-weight:bolder;
}
.fk-elemZoneBg>div:nth-child(2){
    font-size:120px;
    font-weight:bolder;
    margin-bottom: 30px;
}
.fk-elemZoneBg>div:nth-child(3),.fk-elemZoneBg>div:nth-child(4),.fk-editor>div:first-child{
    height:40px;
    font-size:14px;
}
.fk-editor{
    display: flex;
    justify-content: space-between
}
.fk-editor>div:last-child{
    line-height: 40px;
}
.fk-editor>div:last-child>a{
    text-decoration: none;
    color:#fff;
    font-size:24px;
    background: -webkit-linear-gradient(top, #27b1f6 0%, #0aa1ed 100%);
    display: inline-block;
    width:550px;
    height:63px;
    line-height: 63px;
    text-align: center;
    border-radius: 30px;
}
.imgindex{
    text-align: right;
    margin-top:40px;
}
.imgindex>span{
    display: block;
    font-size: 12px;
    color: #9a9a9a;
    margin-top:20px;
}
.tfrom{
    width:426px;
    height:24px;
    overflow:hidden;
}
.tfrom>span{
    color:#9a9a9a;
    display:inline-block;
    width:500px;
    margin-left: 523px;
    animation:displacement 20s linear infinite;
}
@keyframes displacement{
    0%{margin-left:523px
    }
    50%{
        margin-left:-523px;
    }
    100%{
        margin-left:523px;
    }
}
section{
    width:80%;
    margin:0 auto;
}
section>div:first-child{
    font-size:25px;
    color:#9a9a9a;
    font-weight:bold;
    text-align: center;
    margin-top:60px;
}
.product{
    display:flex;
    justify-content: space-between;
    margin-top:80px;
    color:#9a9a9a;
    font-weight:bold;
}
.product1>p:last-child{
    font-size:13px;
    font-weight: normal;
    width:339px;
    margin-top:20px;
}
.product1>p:first-child{
    margin-top:30px;
}
.product>div>img{
   height:80px; 
   margin-left: 105px;
}
.scene{margin-top:80px;}
.scene>div:first-child{font-size:25px;font-weight:bold;text-align: center;}
.scene>div:nth-child(2){font-size:14px;text-align: center;margin-top:15px;}
.use{position:relative; display: flex;justify-content: space-around;margin-top:30px;}
.use>div{
    width:307px;
    text-align: center;
    position: relative;
}
.use>div>a{
     background:url("../img/1.9.jpg") no-repeat center center; 
    width:190px;
    height:190px;
     display:inline-block;
    border-radius:50%;
}
.use>div>img:nth-child(3){
    /* position:absolute; */
    margin-top:-90px;
}
.use>div>img:nth-child(2){
    margin-top:-6px;
    
    vertical-align: top;
}
.use>div>span{
    display:block;
    position: absolute;
    margin-left:45%;
    margin-top: -77px;
    font-size:30px;
    color:#fff;  
}
.gn{
    font-size:14px;
    color:#9a9a9a;
}
.use>div:nth-child(2)>a{
    background:url("../img/1.10.png") no-repeat center center; 
}
.use>div:nth-child(3)>a{
    background:url("../img/1.11.png") no-repeat center center; 
}
.simpleText{margin-top:100px;}
.simpleText>div:first-child{color:#9a9a9a;font-size:25px;font-weight:bold;text-align: center;
    margin-bottom:60px;
}
.formTab{display: flex;}
.formTab>ul{
    text-align: center;
    width:220px;height:516px;
    list-style: none;margin:0;padding:0;
    background:rgba(102,102,102,0.1);
    line-height: 59px;
    
}
.formTab>ul>li{
    border-bottom:1px solid #fff;}
.formTab>ul>li>a{
    display: inline-block;
    text-decoration: none;
    color:#666666;
    width:220px;height:60px;
    transition: all .1s linear;
}
.anima{
    height:100px !important;
    /* width:220px; */
    background:#2b2b2b;
    line-height:100px;
}
.from1{
    position: relative;
}
.f1,.f2,.f3{
    /* width:980px; */
    position:absolute;
    /* position:relative; */
    background-color: white;
    width:68%;
    height:516px;
    /* z-index: 3; */
    display: flex;
}
.f1>div>span,.f2>div>span,.f3>div>span{
    display: inline-block;
    font-size: 20px;
    color:rgb(39, 32, 32);
    font-weight:bold;
    margin-left: 50px;
    margin-top:30px;
}
.f1>div>p,.f2>div>p,.f3>div>p{
    margin-left:50px;
}
.f1>div{z-index: 1;}
.f1{z-index:5;}
.f3>div>div,.f2>div>div,.f1>div>div{
    width:392px;
    font-size:14px;
    color:rgb(102, 102, 102);
    line-height: 30px;
    margin-top:40px;
    margin-left:50px;
}
.f3>img{height:446px;margin-left:100px;}
.f1>img{
    width:608px;height:365px;margin-left:-px;margin-top:150px;
    margin-left:-120px;
}
.f2>img{width:541px;height:263px;
    margin-left:-53px;margin-top:229px;
}
.tail>div:first-child{
    font-size:24px;
    color:#140108;
    font-weight:bold;
    text-align: center;
}
.tail{margin-top:100px;}
.tail>p{
    /* width:787px; */
    /* height:72px; */
    font-size: 13px;
    color:#9a9a9a;
    text-align: center;
}
.tail>p>span{
    display: inline-block;
    width:787px;
    text-align: center;
    line-height: 30px;
}