<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style type="text/css">
@keyframes change{
    from  { transform:rotate(90deg); }
    to    { transform:rotate(450deg);  }
}
#d1 {
    width:150px;
    height:150px;
    border:1px solid black;  
	transform-origin:100% 100%;
    animation:change 5s linear 1s 2;                        
}
</style>
<body>
        <div id="d1">
            
            </div>
</body>
</html>